<footer class="fixed-bottom bg-dark text-light text-center py-3 mt-5">
  <div class="container">
    <p class="mb-0">© {{year}} My Website. All rights reserved. <a href="https://www.flaticon.com/free-icons/start-button" title="start button icons" class="text-decoration-none">Start button icons created by Freepik - Flaticon</a></p>
  </div>
</footer>